body {
    background: #000;
}

.container {
    margin: 0 60px 0;
    margin-top: 50px;
    margin-bottom: 47px ;
}

header > img {
    padding: 4px;
}

#container-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
}

.menu {
    display: block;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 5px;
}

.barras {
    margin-left: 60px;
}

.interagir {
    width: 154px;
    height: 8px;
    background: #4335E7;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease-in;
}

.interagir:hover{
    background: #EF6421;
    transform: scale(1.1);
}

.logo {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

#home-image {
    width: 100%;
    background: #000214;
    opacity: 80%;
}