body {
    font-family: Arial, Helvetica, sans-serif;
    width: 320px;
}

.text {
    background: #1F1F1F;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    
}

#logo {
    width: 200px;
}

.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #1F1F1F;
    height: 500px
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
    background: #0E0E58;
}

.topnav  #myLink {
    display: none;
    background: red;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.topnav a.icon {
    background: #0E0E58;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
}

.topnav a.icon:hover {
    background: #C4C4C4;
}


.active {
    background-color: #000000;
    color: white;
}

.hidden-menu{
    background-color: #0E0E58;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    background: #0E0E58;
    animation: anime 0.5s ease-in-out;
    padding: 200px;
    border-bottom: 1px solid #fff;
}

#card-first {
    display: none;
}

#card-second {
    display: none;
}

#card-third {
    display: none;
}

#card-fourth {
    display: none;
}

#card-five {
    display: none;
}

.hint {
    width: 50px;
    height: 8px;
    background: #4335E7;
    border: none;
    border-radius: 5px;

}

.hint:hover{
    animation: barras 0.5s ease;
}


@keyframes anime {
    from {
        margin-bottom: 0.5%;
    }
    
    to {
        margin-bottom: 0%;
    }
}