/*HEADER*/
html{
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
    margin: auto;
    width: 100%;
    background: #1F1F1F;
}

#header {
    display: block;
    width:100%;
    background-color: #000000;
}

#nav-container {
    width: 100%;
    display: none;
}

.text {
    background: #1F1F1F;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 500;
}

    #logo {
        width: 135px;
        margin-top: -5px;
        margin-left: 50px;
    }

    #icon-header {
        font-size: 20px;
        width: auto;
        height: max-content;
    }

.mobile-container {
    margin: auto;
}

.topnav {
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

#hamgurber-menu {
    font-size: 30px;
    padding: 5px 5px;
}

.active {
    background-color: #000000;
    color: white;
    height: 21px; /*ajustar conforme necessidade*/
}

.topnav a.icon {
    background: #161692;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.icon {
    width: 36px;
    height: 36px;
}

.hidden-menu{
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    background: #0E0E58;
    padding: 200px;
    border-bottom: 1px solid #fff;
}

#card-first {
    display: none;
}

#card-second{
    display: none;
}

#card-third {
    display: none;
}

#card-fourth{
    display: none;
}

#card-five{
    display: none;
}

@media only screen and (min-width:800px) and (max-width: 1024px) {
    #header {
        width: 100vw;
    }

    .topnav a {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1025px) {
    #header {
        display: none;
    }

    .desktop-container {
        width: 100%;
        position: fixed;
        z-index: 100;
        top:0;
        left: 0;
    }

    .topnav {
        background: #000;
        height: 10vh;
    }

    .coluna > a {
        font-size: 13px;
    }

    #nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.3);
    }

    .hidden-menu {
        background: transparent;
        border: none;
        border-radius: 10px;
        text-align: center;
    }

    .card {
        display: flex;
        max-height:7px;
        flex-direction:column;
        transition: all 0.2s ease-in-out, ;
        padding: 0 5px;
        visibility: hidden;
    }

    .barra:hover> .card {
        display: flex;
        visibility: visible;
        max-height: 1000px;
        animation: fadeIn 1.3s;
        -webkit-animation: fadeIn 1.3s;
        -moz-animation: fadeIn 1.3s;
        -o-animation: fadeIn 1.3s;
        -ms-animation: fadeIn 1.3s;
    }

    .barra {
        width: 100px;
        height: 7px;
        border: none;
        border-radius: 15px;
        background: #4335E7;
        margin: 2px;
    }

    .border {
        border-bottom: 2px solid #fff;
        border-radius: 0px;
    }


    .barra:hover {
        background: #EF6421;
        animation: background 1s forwards;

    }

    #myLink {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .coluna {
        display: flex;
        flex-direction: column;
        margin: 0 1px 0 1px;
    }

    #icone {
        width: auto;
        height: 25px;
    }

    #logos {
        width: 200px;
    }

    .text {
        background: #000;
        text-align: center;
    }

    @keyframes background {
        0%{
            height: 7px;
            border-radius: 5px;
        }

        100% {
            height: 100%;
            border-radius: 10px;
        }
    }

    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
}

/*MAIN*/
a {
    text-decoration: none;
}

#title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url(assets/backgrounds/risos.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.donate {
    display: block;
    margin: auto;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 125%;
}

.donate-h1 {
    display: flex;
    flex-direction: column;
    font-weight: 600; 
    font-size: 25px;
    line-height: 125%;
}

.btn-mais {
    display: block;
    margin: auto;
    border: 2px solid #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 6px;
    background: transparent;
    width: 120px;
    text-align: center;
    color: #fff;
    padding: 2px;
    margin-bottom: 20px;
}

.donate-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 5px;
    font-weight: 400;
    font-size: 1vw;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

#form {
    display: flex;
    flex-direction: column;
    background: #000;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    margin-bottom: 50px;
}

.title-form {
    color: #EF6421;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.input {
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #E5E5E5;
    border-radius: 5px;
    background: transparent;
    padding: 5px;
    margin-bottom: 5px;
    color: #fff;
    outline: none;
}

.input::placeholder {
    color: #C4C4C4;
    font-weight: 700;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    text-transform: uppercase;
    color: #EF6421;
    font-weight: 700;
    border: 2px solid #EF6421;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}


.title {
    color: #4335E7;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4vw;
    margin: 20px;
}

.title {
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    border-bottom: 0.25vh solid #4335E7;
    width: 20vw;
    left: 0;
    bottom: 0;
    top: 20px;
}

.sub-title {
    margin-top: 50px;
    font-weight: 600;
    font-size: 3vw;
    margin-bottom: 15px;
}

.sub-text {
    color: #C4C4C4;
    font-size: 2.7vw;
    text-align: left;
    margin: 15px;
}

.container-fale {
    color: #000;
    margin: 10px;
}

.textos {
    margin: 20px;
}

.meios-de-contato {
    color: #fff;
    font-size: 2.5vw;

}

.etica {
    color: #fff;
    text-align: right;
    padding: 0 10px;
}

.etica > p {
    font-size: 2.5vw;
    margin-bottom: 10px;
}

.donate-text {
    text-align:left ;
    color: #fff;
    padding: 10px;
    font-size: 2.7vw;
}

.p {
    margin: 20px 10px 20px;
}

.container-doar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EF6421;
    padding: 30px 20px;
}

.doacao {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    width: 125px;
    height: 250px;
    border-radius: 7px;
    background: #fff;
    margin-bottom: 10px;
    color: #000;
    padding: 10px 30px;
    font-size: 11px;
    text-align: center;
    line-height: 125%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code{
    display: block;
    margin: auto;
    width: auto;
    height: 120px;
    margin-top: 15px;
}

.orange{
    background: #EF6421;
}

.is-dark {
    filter: invert(80%);
}

.seta {
    display: none;
}

@media only screen and (min-width:800px) and (max-width: 1024px) {
    #title {
        height: 100vh;
        width: 100%;
    }

    .donate {
        line-height: 125%;
        font-size: 6vw;
    }

    .donate-h1 {
        display: flex;
        flex-direction: column;
        font-weight: 600; 
        font-size: 8vw;
        line-height: 125%;
    }

    .btn-mais {
        width: 240px;
        height: 40px;
        font-size: 25px;
    }

    #form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 450px;
        height: max-content;
        transform: scale(1.2);
        margin-bottom: 100px;
    }

    .title-form {
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 20px;
    }


    .input {
        width: 70%;
        border: 2px solid #E5E5E5;
        padding: 5px;
        margin-bottom: 15px;
    }

    .input::placeholder {
        font-size: 15px;
    }

    .textarea {
        height: max-content;
    }

    .btn {
        width: 300px;
        font-size: 15px;
    }

    .doacao {
        width: 180px;
        height: 320px;
        font-size: 15px;
        text-align: center;
    }

    .qr-code {
        margin: auto;
        transform: scale(1.5);
    }

    .donate-text {
        margin: 10px;
        font-size: 12px;
        text-align: left;
    }

    .etica {
        margin-bottom: 50px;
    }

    .meios-de-contato {
        font-size: 15px;
        margin-bottom: 50px;
    }

    .sub-title {
        font-size: 20px;
    }

    .sub-text {
        font-size: 15px;
        text-align: left;
        margin-left: 30px;
    }

    .etica > p {
        font-size: 2vw;
    }

    .donate-text {
        font-size: 2vw;
    }

    .container-doar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .doacao {
        margin: 10px;
    }
}


@media only screen and (min-width: 1025px) {
    #title {
        height: 700px;
        width: 100%;
    }

    .seta {
        display: block;
        margin: auto;
        width: 50px;
        height: 40px;
        padding: 50px;
        animation: pulse 0.5s infinite;
        animation-direction: alternate;
        -webkit-animation-name: pulse;
        animation-name: pulse;
    }


    .donate {
        margin-top: 200px;
        font-size: 60px;
        line-height: 125%;
    }

    .donate-h1 {
        line-height: 125%;
        font-size: 80px;
    }

    .btn-mais {
        width: 300px;
        height: 50px;
        font-size: 30px;
        transition: all .5s ease-in-out;
        cursor: pointer;
    }

    .btn-mais:hover {
        color: #EF6421;
        background:#fff;
        border: 2px solid #EF6421;
    }

    .map {
        width: 100%;
        height: 600px;
    }

    #form {
        margin: auto;
        max-width: 450px;
        height: 600px;
        transform: scale(1.2);
        margin-bottom: 200px;
    }

    .title-form {
        font-size: 30px;
    }

    .input {
        height: 25px;
        margin-bottom: 20px;
    }

    .textarea {
        height: 400px;
    }

    .btn {
        display: flex;
        width: 200px;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .btn:hover {
        background:  #EF6421;
        color: #000;
    }

    .title {
        font-size: 50px;
    }

    .sub-text {
        font-size: 30px;
    }

    .sub-title {
        font-size: 2vw;
    }

    .etica {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        margin-right: 20px;
        max-width: 50%;
    }

    .etica > p {
        font-size: 1.5vw;
        line-height: 125%;
    }

    .container-fale {
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(assets/backgrounds/escola.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: max-content;
        width: 100vw;
    }

    .meios-de-contato {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
        font-size: 1.5vw;
        margin: 20px 0;
        max-width: 50%;
        border-right: 4px solid white;
    }

    .container-doar{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        transform: scale(1.1);
    }

    .doacao {
        margin: auto;
        transform: scale(1.1);
    }

    .title::before {
        width: 260px;
    }

    .donate-text {
        font-size: 1.5vw;
        margin-bottom: 50px;
    }

    @-webkit-keyframes pulse {
        0% {
        -webkit-transform: scale(1.2);
        -webkit-filter: brightness(100%);
        }
        100% {
        -webkit-transform: scale(1.3);
        -webkit-filter: brightness(200%);
        }
    }
    
    @keyframes pulse {
        0% {
        transform: scale(1.2);
        filter: brightness(100%);
        }
        100% {
        transform: scale(1.3);
        filter: brightness(200%);
        }
    }
}

/*FOOTER*/
#footer {
    width: 100vw;
    background: #1C1365;
    padding: 5px;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    width: 25px;
    height: 25px;
    padding: 5px;
}

#contact {
    margin: 10px 10% 10px;
    font-size: 8px;
    text-transform: capitalize;
    color: #fff ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

@media only screen and (min-width:769px) {
    #footer {
        transform: scale(1.3);
    }
}