#body {
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../assets/portal-aluno-img/main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#main {
    display: block;
    margin-top: 150px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 30px;
}

.input{
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 22px;
    width: 220px;
    border: 5px solid #fff;
    border-radius: 12px;
    padding: 5px;
    padding-left: 10px;
}

input::placeholder {
    font-weight: 600;
    color: #fff;
}

#logo {
    display: block;
    margin: auto;
    width: 75px;
    height: 75px;
}

.input:focus {
    outline: 0;
}

#user {
    margin-bottom: 10px;
    margin-left: 5px;
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E5E5E5;
    border-radius: 90px;
    margin-top: 30px;
    background: #E5E5E5;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
    width: 200px;
    height: 45px;
}

a {
    text-decoration: none;
}

#icon {
    width: 20px;
    height: 22px;
    margin-left: -40px;
}

#icon-eye {
    margin-left: -50px;
}

/*classes para validação*/
.correct {
    border:5px solid green;
}

.incorrect {
    border:5px solid red;
}

.msg {
    display: block;
    margin: 0 auto;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
/*classes para validação*/


@media only screen and (min-width:769px) {
    #body{
        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../assets/portal-aluno-img/main-desk.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .input{
        font-size: 30px;
        width: 400px;
        border-radius: 50px;
    }
    
    #btn {
        font-size: 25px;
        width: 300px;
        height: 45px;
    }
}