#body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../assets/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#main {
    display: block;
    margin-top: 150px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.input{
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 22px;
    width: 280px;
    border: 5px solid #fff;
    border-radius: 12px;
    padding: 5px;
    padding-left: 10px;
}

input::placeholder {
    font-weight: 800;
    color: #fff;
}

#logo {
    display: block;
    margin: auto;
    width: 75px;
    height: 75px;
}

.input:focus {
    outline: 0;
}

#user {
    margin-bottom: 10px;
}

#btn {
    background: #E5E5E5;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
    width: 250px;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 90px;
    margin-top: 30px;
}

/*WORKSPACE*/

#header {
    display: flex;
    flex-direction: row;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-bottom: 5px solid #fff;
}

#body-container {
    background: #1f1f1f;
}

.icon {
    width: 20px;
    height: 22px;
    margin-left: -40px;
}

#main-container {
    display: block;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
}

.icons{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.label {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}

.imagem{
    display: flex;
    justify-content: center;
    height: 80px;
    margin: 25px;
}

#logos {
    width: 52px;
    height: 48px;
    padding: 20px;
}

#title {
    padding-left: 20px;
    margin: auto 0;
}