body {
    background-color: #000;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

#logo {
    width: 200px;
}

.container-menu {
    display: flex;
    flex-direction: row;
    width: 800px;
    background: #000;
}

.container-menu a {
    display: block;
    margin: auto 0;
    color: white;
    padding-left: 20px;
    text-decoration: none;
    font-size: 10px;
}

.text {
    color: #fff;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
    padding: 20px;
    position: absolute;
}


.container-menu a.icon {
    background: #0E0E58;
    display: block;
    right: 0;
    top: 0;
    transition: background 0.1s ease-in-out;
}

.container-menu a.icon:hover {
    background: #C4C4C4;
}

.icon {
    width: 36px;
    height: 36px ;
}

.card {
    background: #EF6421;
    opacity: 90%;
    border: 2px solid #EF6421;
    border-radius: 10px;
    text-align: center;
}

.hidden-menu{
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 125%;
    padding: 20px;
}

.border {
    border-bottom: 1px solid white;
}

.card {
    position: relative;
    top: 40px;
}

#icon {
    width: 30px;
    height: 30px;

}

.container{
    display: flex;
    flex-direction: column;
    width: 100px;
}

#um{
    display: none;
}

#dois{
    display: none;
}

#tres{
    display: none;
}

#quatro{
    display: none;
}

#cinco{
    display: none;
}

#nav {
    display: flex;
}