body {
    background-color: #000000;
    width: 360px;
    color: #fff;
    font-family: "Montserrat";
}

#header {
    width: 360px;
}

.text {
    background: #1F1F1F;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
}

.text:hover{
    background: #494949;
}

    #logo {
        width: 150px;
    }

.mobile-container {
    width: 360px;
    margin: auto;
    background-color: #1F1F1F;
}

.topnav {
    width: 360px;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
}

#hamgurber-menu {
    font-size: 30px;
    padding: 5px 5px ;
}

.topnav a.icon {
    background: #0E0E58;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transition: background 0.1s ease-in-out;
}

.topnav a.icon:hover {
    background: #C4C4C4;
}

.icon {
    width: 36px;
    height: 36px ;
}

.active {
    width: 360px;
    background-color: #000000;
    color: white;
}

.hidden-menu{
    background-color: #0E0E58;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    background: #0E0E58;
    padding: 200px;
    border-bottom: 1px solid #fff;
    transition: background 0.5s ease-in-out;
}

.hidden-menu:hover {
    background: rgba(14, 14, 83);
    opacity: 80%;
}

#card-first {
    display: none;
}

#card-second {
    display: none;
}

#card-third {
    display: none;
}

#card-fourth {
    display: none;
}

#card-five {
    display: none;
}