/*HEADER*/
html{
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
    margin: auto;
    width: 100%;
    background: #1F1F1F;
}

#header {
    display: block;
    width:100%;
    background-color: #000000;
}

#nav-container {
    width: 100%;
    display: none;
}

.text {
    background: #1F1F1F;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 500;
}

    #logo {
        width: 135px;
        margin-top: -5px;
        margin-left: 50px;
    }

    #icon-header {
        font-size: 20px;
        width: auto;
        height: 3.7vh;
    }

.mobile-container {
    margin: auto;
}

.topnav {
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

#hamgurber-menu {
    font-size: 30px;
    padding: 5px 5px;
}

.active {
    background-color: #000000;
    color: white;
    height: 21px; /*ajustar conforme necessidade*/
}

.topnav a.icon {
    background: #161692;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.icon {
    width: 36px;
    height: 36px;
}

.hidden-menu{
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    background: #0E0E58;
    padding: 200px;
    border-bottom: 1px solid #fff;
}

#card-first {
    display: none;
}

#card-second{
    display: none;
}

#card-third {
    display: none;
}

#card-fourth{
    display: none;
}

#card-five{
    display: none;
}

.troca {
    margin-top: -85px;
    transform: scale(0.3);
}

@media only screen and (min-width:800px) and (max-width: 1024px) {
    #header {
        width: 100vw;
    }

    .topnav a {
        font-size: 15px;
    }

    #icon-header {
        height: 3.7vh;
    }
}

@media only screen and (min-width: 1025px) {
    #header {
        display: none;
    }

    .desktop-container {
        width: 100%;
        position: fixed;
        z-index: 100;
        top:0;
        left: 0;
    }

    .topnav {
        background: #000;
        height: 10vh;
    }

    .coluna > a {
        font-size: 13px;
    }

    #nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.3);
        width: 100%;
        position: fixed;
        z-index: 100;
        top:0;
        left: 0;
    }

    .hidden-menu {
        background: transparent;
        border: none;
        border-radius: 10px;
        text-align: center;
    }

    .card {
        display: flex;
        max-height:7px;
        flex-direction:column;
        transition: all 0.2s ease-in-out, ;
        padding: 0 5px;
        visibility: hidden;
    }

    .barra:hover> .card {
        display: flex;
        visibility: visible;
        max-height: 1000px;
        animation: fadeIn 2s;
        -webkit-animation: fadeIn 2s;
        -moz-animation: fadeIn 2s;
        -o-animation: fadeIn 2s;
        -ms-animation: fadeIn 2s;
    }

    .barra {
        width: 100px;
        height: 7px;
        border: none;
        border-radius: 15px;
        background: #4335E7;
        margin: 2px;
    }

    .border {
        border-bottom: 2px solid #fff;
        border-radius: 0px;
    }


    .barra:hover {
        background: #EF6421;
        animation: background 1s forwards;

    }

    #myLink {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .coluna {
        display: flex;
        flex-direction: column;
        margin: 0 1px 0 1px;
    }

    #icone {
        width: auto;
        height: 25px;
    }

    #logos {
        width: 200px;
    }

    .text {
        background: #000;
        text-align: center;
    }

    @keyframes background {
        0%{
            height: 7px;
            border-radius: 5px;
        }

        100% {
            height: 100%;
            border-radius: 10px;
        }
    }

    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
}


/*MAIN*/

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./assets/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}

.container-text {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 25px;
}

.primeiro {
    font-size: 20px;
    margin-left: -25px;
}

.segundo {
    font-size: 25px;
    font-weight: 700;
}

.terceiro {
    font-size: 20px;
    font-weight: 600;
    margin-left: -10px;
}

.quarto {
    font-size: 15px;
    margin-left: 100px;
}

.container-origem {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: 500;
}

.title-origens {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    margin: 10px;
    margin-left: 50px;
}

.title-origens::after {
    content: "";
    position: absolute;
    border-bottom: 15px solid #EF6421;
    width: 50px;
    margin-top: 2px;
    margin-left: -250px;
}

.title-missao {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    margin: 10px;
    margin-left: 40px;
}

.title-missao::after {
    content: "";
    position: absolute;
    border-bottom: 15px solid #EF6421;
    width: 50px;
    margin-top: 2px;
    margin-left: -220px;
}

.background {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(./assets/escola.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.subtitle-origens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    height: 500px;
}

.container {
    margin-top: 10px;
}

.container > h1 {
    text-transform: capitalize;
    font-size: 20px;
    margin: 0 10px 20px;
}

.words {
    margin: 0 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.container-missao {
    margin: 0 10px;
    padding-bottom: 10px;
    color: #fff;
}

.container-image-missao {
    display: none;
}

.carrosel-valores {
    display: flex; /*não esquecer de trocar para NONE*/
    flex-direction: row;
}

.valor-franqueza {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(./assets/Rectangle\ 143.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 200px;
}

.valor-determinação {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(./assets/Rectangle\ 144.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 200px;
}

.valor-humildade {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(./assets/Rectangle\ 145.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 110px;
    height: 200px;
}

.governanca {
    color: #fff;
    font-weight: 500;
    margin: 10px;
}

.title-governanca {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #EF6421;
}

.text-governanca {
    margin-top: 20px;
}

.imagem {
    width: auto;
    height: 20px;
    padding: 10px;
    background: #EF6421;
    transform: rotate(90deg);
    position: absolute;
    z-index: 3;
    margin-top: 100px;
}

.esquerda {
    transform: rotate(-90deg);
    margin-top: 100px;
    margin-left: 275px;
}

.title-demonstrativos {
    display: flex;
    flex-direction: column;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    margin: 10px;
    margin-left: 50px;
    margin-top: 50px;
}

.text-demonstrativos {
    margin: 10px;
    color: #fff;
    margin-bottom: 50px;
}

.seta{
    display: none;
}

.orange{
    background: #EF6421;
}

/*CARROSELS*/
.carousel-wrapper {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

.carousel-wrapper * {
    box-sizing: border-box;
}

.carousel {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel__photo {
    opacity: 0;
    position: absolute;
    top:0;
    width: 100vw;
    height: 30vh;
    margin: auto;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel__photo.active {
    width: 100%;
}

.carousel__photo.initial,
.carousel__photo.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel__photo.prev,
.carousel__photo.next {
    z-index: 800;
}

.carousel__photo.prev {
    transform: translateX(-100%);
}

.carousel__photo.next {
    transform: translateX(100%);
}

.carousel__button--prev,
.carousel__button--next {
    position: absolute;
    top:50%;
    width: 2rem;
    height: 4rem;
    background-color: #EF6421;
    transform: translateY(-50%);

    cursor: pointer; 
    z-index: 1001; /* Sit on top of everything */
    border:none;
    opacity: 1;  
}

.carousel__button--prev {
    left:0;
}

.carousel__button--next {
    right:0;
}

.carousel__button--prev::after,
.carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.container-demonstrativos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.carrosel-demonstrativos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #EF6421;
    border: 1px solid #EF6421;
    border-radius: 10px;
    padding: 5px;
    width: 250px;
    height: max-content;
}

.demonstrativos {
    display: flex;
    justify-content: center;
    width: 220px;
    background: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.demonstrativos > p {
    color: #2E3092;
    font-weight: 500;
    margin-left: 10px;
}


.logo-azul {
    display: block;
    margin: auto;
    width: 50px;
    height: 40px;
}

.cards-demonstrativos {
    display: none;
    margin-top: 20px;
}

.actived {
    display: block;
}

/*FOOTER*/
#footer {
    width: 100%;
    background: #1C1365;
    padding: 5px;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    width: 25px;
    height: 25px;
    padding: 5px;
}

#contact {
    margin: 10px 10% 10px;
    font-size: 8px;
    text-transform: capitalize;
    color: #fff ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

@media only screen and (min-width:769px) {
    #footer {
        transform: scale(1.2);
    }
}